@font-face {
  font-family: 'dungeon-mode';
  src: url('/assets/fonts/dungeon-mode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixeledEnglishFont';
  src: url('/assets/fonts/PixeledEnglishFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Satoshi', sans-serif;
}

.font-dungeon {
  font-family: 'dungeon-mode', monospace;
}

.font-pixel {
  font-family: 'PixeledEnglishFont', monospace;
}

.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}
